.about-company {
    max-width: 1314px;
    margin: 0 auto;
    padding-bottom: 68px;
    padding-top: 41px;
}

.about-company__wrapper {
    padding-left: 183px;
    position: relative;

    @include margin-72-72;
}

.about-company__header {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #666666;

    @include font-roboto;
}

.about-company__par {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #666666;

    @include font-ptmono;
}

.about-company__par-second {
    margin-bottom: 0;
    padding-bottom: 43px;
}

.about-company__button {
    text-decoration: none;
    text-transform: uppercase;
    color: #00b2ff;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #00b2ff;
    border-radius: 5px;
    padding: 11px 50px 11px 50px;
    margin-top: 43px;

    @include font-roboto;
}

.about-company__info {
    background-image: url("../images/year.jpg");
    background-repeat: no-repeat;
    background-size: 113px 303px;

    width: 113px;
    height: 281px;
    position: absolute;
    top: 2px;
    left: 1px;
}

.about-company__year {
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 128px;
    line-height: 120px;
    background: #ffffff;
    mix-blend-mode: lighten;

    position: absolute;
    top: 84px;
    left: -87px;

    @include font-roboto;
}

.about-company__tablet-text {
    display: none;
}

// tablet----------------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .about-company {
        max-width: 720px;
        margin: 0 auto;
        padding-top: 0;
    }

    .about-company__wrapper {
        padding-left: 138px;
        padding-right: 44px;

        @include margin-0-0;
    }

    .about-company__header {
        font-size: 32px;
    }

    .about-company__desktop-text {
        display: none;
    }

    .about-company__tablet-text {
        display: inline;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .about-company {
        padding-bottom: 77px;
    }

    .about-company__wrapper {
        max-width: 320px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .about-company__header {
        font-size: 28px;
        margin-left: 18px;
        margin-top: 0;
    }

    .about-company__button {
        margin-left: 18px;
    }

    .about-company__par {
        margin-left: 18px;
    }

    .about-company__par-first {
        margin-bottom: 36px;
    }

    .about-company__year {
        display: none;
    }

    .about-company__info {
        display: none;
    }
}
