.address-details input {
    display: none;
}

.address-details__header {
    text-transform: uppercase;
    padding-left: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-align: left;

    @include font-roboto;
}

.address-details__list {
    list-style-type: none;
    margin-top: 28px;
    padding-left: 0;
    font-size: 15px;
    line-height: 15px;
    color: #1b2d37;
    opacity: 0.5;

    @include font-ptmono;
}

.address-details__item {
    padding-bottom: 10px;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .address-details input {
        display: none;
    }

    .address-details__header {
        margin-bottom: 0;
    }

    .address-details__list {
        margin-top: 38px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .address-details {
        position: relative;
        padding-top: 29px;
        padding-bottom: 22px;
        width: 320px;
        margin: 0 auto;
    }

    .address-details__header {
        margin-top: 0;
        padding-top: 29px;
        padding-bottom: 29px;
        padding-left: 0;

        @include font-roboto;
    }

    .address-details__list {
        display: none;
        margin-left: 18px;
    }

    .address-details input {
        display: none;

        &:checked ~ .address-details__list {
            display: block;
        }

        &:checked + .address-details__label::after {
            content: "-";
        }
    }

    .address-details__label {
        margin-left: 18px;
        padding-right: 182px;
    }

    .address-details__label::after {
        content: "+";
        font-size: 25px;
        opacity: 0.5;
        position: absolute;
        left: 283px;
        top: 24px;
    }
}
