.advantages {
    max-width: 1170px;
    margin: 0 auto;
}

.advantages__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    margin-top: 0;
}

.advantages__header {
    font-size: 24px;
    line-height: 34px;
    color: #00b2ff;
    margin-top: 24px;

    @include font-roboto;
}

.advantages__item {
    font-size: 16px;
    max-width: 483px;
    outline: 1px solid #ebebeb;
    border-left: 1px solid #00b2ff;
    background-color: #ffffff;

    margin-bottom: 30px;
    padding: 45px 42px 49px 44px;

    @include font-ptmono;

    &:hover {
        background-color: #00b2ff;
        cursor: pointer;
        color: #ffffff;
    }

    &:hover .advantages__header {
        color: #ffffff;
    }

    &:hover .advantages__icon {
        fill: #ffffff;
    }
}

.advantages__icon {
    fill: #00b2ff;

    &--stopwatch {
        width: 30px;
        height: 37px;
    }

    &--hired {
        width: 32px;
        height: 32px;
    }

    &--detective {
        width: 31px;
        height: 26px;
    }

    &--tag {
        width: 33px;
        height: 32px;
    }
}

.advantages-wrapper {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.advantages__item-stopwatch {
    position: relative;
}

.advantages__item-tag {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: -56px;
        left: 479px;
        width: 343px;
        height: 326px;
        background-image: url("../images/triangle-small-right.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 298px ​298px;
        z-index: -1;
    }
}

.advantages__img-triangle-small {
    position: absolute;
    top: -47px;
    left: -203px;
    width: 343px;
    height: 326px;
    background-image: url("../images/triangle-small-advantages.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 298px ​298px;
    z-index: -1;
}

.advantages__big-triangle-center {
    position: absolute;
    top: 271px;
    left: 484px;
    width: 723px;
    height: 700px;
    background-image: url("../images/triangle-big-advantages.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 636px ​640px;
    z-index: -1;
}

.advantages__big-triangle-left {
    position: absolute;
    top: 355px;
    left: -321px;
    width: 723px;
    height: 700px;
    background-image: url("../images/triangle-big-advantages.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 636px ​640px;
    z-index: -1;
    transform: rotate(180deg);
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .advantages__big-triangle-center {
        top: 372px;
        left: 103px;
    }

    .advantages__big-triangle-left,
    .advantages__img-triangle-small {
        display: none;
    }

    .advantages {
        max-width: 720px;
        margin: 0 auto;
    }

    .advantages__list {
        justify-content: center;
    }

    .advantages__item {
        max-width: 258px;
    }

    .advantages-wrapper {
        margin-top: 59px;
        padding-bottom: 58px;
    }

    .advantages__item-tag {
        &::after {
            display: none;
        }
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .advantages__img-triangle-small,
    .advantages__big-triangle-left {
        display: none;
    }
    .advantages__big-triangle-center {
        left: 0;
        top: 862px;
    }

    .advantages-wrapper {
        max-width: 767px;
        margin-top: 37px;
        overflow: hidden;
    }

    .advantages {
        max-width: 320px;
        margin: 0 auto;
    }

    .advantages__list {
        justify-content: center;
        column-gap: 30px;
        margin-top: 37px;
    }

    .advantages__item {
        max-width: 258px;
        margin-right: 0;
        margin-left: 0;
        padding: 25px 18px 38px 23px;
    }

    .advantages__header {
        font-size: 20px;
    }
}
