.details {
    display: flex;
}

.details__block {
    margin-left: 16px;
}

.details__name {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    line-height: 29.3px;
    margin-top: 0;
    margin-bottom: 0;

    @include font-roboto;
}

.details__tag {
    color: #e5e5e5;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    margin-top: 0;

    @include font-roboto;
}

@media (max-width: $tablet-width) {
    .details__block {
        display: none;
    }

    .details__img {
        width: 38px;
        height: 38px;
    }
}
