.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list__wrapper {
    display: flex;
}

.footer-list__block {
    display: flex;
    flex-direction: column;
}

.footer-list__block input {
    display: none;
}

.footer-list__header {
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-align: left;

    @include font-roboto;
}

.footer-list__extra {
    margin-right: 13px;
}

.footer-list__item-list,
.footer-list__extra {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.footer-list__item-list {
    margin-right: 60px;
}

.footer-list__item {
    padding-bottom: 0;
}

.footer-list__link {
    text-decoration: none;
    color: #1b2d37;
    font-size: 15px;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;

    @include font-ptmono;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-list__wrapper {
        flex-direction: column;
    }

    .footer-list__header {
        margin-bottom: 0;
    }

    .footer-list__block {
        flex-direction: column;

        @include margin-top-38;
    }

    .footer-list__block input {
        display: none;
    }

    .footer-list__item-list {
        margin-bottom: 0;
        margin-top: 0;
    }

    .footer-list__extra {
        margin-top: 0;
    }

    .footer-list__label {
        margin-bottom: 38px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-list__header {
        font-size: 15px;
        margin-top: 0;
        padding-left: 0;
        padding-top: 29px;
        padding-bottom: 29px;

        @include font-roboto;
    }

    .footer-list__wrapper {
        display: none;
    }

    .footer-list__block {
        margin: 0 auto;
        width: 320px;
    }

    .footer-list__block input {
        display: none;

        &:checked ~ .footer-list__wrapper {
            display: block;
        }

        &:checked ~ .footer-list__extra {
            display: block;
        }

        &:checked + .footer-list__label::after {
            content: "-";
        }
    }

    .footer-list {
        border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    }

    .footer-list__item-list {
        margin-right: 0;
        margin-left: 18px;
    }

    .footer-list__item-list,
    .footer-list__extra {
        margin-right: 0;
        margin-left: 18px;
    }

    .footer-list__label {
        margin-bottom: 0;
        margin-left: 18px;
        position: relative;

        &::after {
            content: "+";
            font-size: 25px;
            opacity: 0.5;
            position: absolute;
            left: 266px;
            top: 24px;
        }
    }
}
