.footer-logo__name {
    color: #203c42;
    font-weight: 700;
    font-size: 25px;
    line-height: 29.3px;
    margin-top: 0;
    margin-bottom: 0;

    @include font-roboto;
}

.footer-logo__tag {
    color: #788891;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    margin-top: 0;

    @include font-roboto;
}

.footer-logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.footer-logo__block {
    margin-left: 15px;
    margin-top: 5px;

    &:hover {
        opacity: 0.5;
    }
}
