.footer-copyright {
    max-width: 1495px;
    margin: 0 auto;
    opacity: 0.2;
    position: relative;
}

.footer-copyright__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;

    @include font-ptmono;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-copyright {
        max-width: 720px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-copyright__list {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
}
