// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-between;
        padding-bottom: 24px;

        border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    }

    .footer-info__lifetime {
        text-transform: uppercase;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #1b2d37;
        opacity: 0.5;
        padding-bottom: 14px;

        @include font-ptmono;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-info {
        flex-direction: column;
        padding-bottom: 33px;
    }

    .footer-info__social {
        padding-top: 31px;
    }

    .footer-info__lifetime {
        padding-bottom: 0;
        padding-top: 17px;
    }
}
