.footer-container {
    margin-top: 65px;
}

.footer-wrapper,
.footer-copyright {
    max-width: 1495px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-cover {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-logo {
    &__name {
        color: #203c42;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 29.3px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__tag {
        color: #788891;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.06px;
        margin-top: 0;
    }
    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }
    &__block {
        margin-left: 16px;
    }
}

.footer-list {
    display: flex;
    flex-direction: column;
    &__block {
        display: flex;
    }
    &__header {
        text-transform: uppercase;
        padding-left: 5px;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-align: left;
        transform-origin: 0 0;
        transform: scale(0.7, 1);

        @include font-roboto;
    }
    &__item-list,
    &__extra {
        list-style-type: none;
        padding-left: 0;
    }

    &__item-list {
        margin-right: 71px;
    }

    &__item {
        padding-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: #1b2d37;
        font-size: 15px;
        opacity: 0.5;

        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-align: left;

        @include font-ptmono;
    }
}

.footer-copyright {
    opacity: 0.2;
    position: relative;

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        text-transform: uppercase;
        padding-left: 0;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;

        @include font-ptmono;
    }
}

.copyright-list {
    &__lifetime {
        position: absolute;
        left: 13rem;
        top: 0;
    }
    &__confident {
        padding-left: 100px;
    }
}

.social-info {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        justify-content: flex-start;
        margin-top: 49px;
    }
    &__link {
        text-decoration: none;
        padding-right: 1rem;
    }
}

.address-details {
    &__header {
        text-transform: uppercase;
        transform-origin: 0 0;
        transform: scale(0.7, 1);
        padding-left: 10px;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-align: left;

        @include font-roboto;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        font-size: 15px;
        line-height: 25px;
        color: #1b2d37;
        opacity: 0.5;

        @include font-ptmono;
    }

    &__item {
        padding-bottom: 10px;
    }
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-wrapper {
        max-width: 720px;
    }
    .footer-list {
        &__header {
            margin-bottom: 0;
        }
        &__block {
            flex-direction: column;
            margin-top: 29px;
        }
        &__item-list {
            margin-bottom: 0;
            margin-top: 0;
        }
        &__extra {
            margin-top: 0;
        }
        @include margin-top-38;
    }

    .footer-info {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        justify-content: space-between;
        padding-bottom: 24px;

        border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    }

    .footer-address {
        @include margin-top-38;
    }
    .social-info {
        &__list {
            margin-top: 0;
        }
    }
    .footer-copyright {
        max-width: 720px;
    }
    .copyright-list {
        &__rights {
            display: none;
        }
        &__lifetime {
            left: 323px;
            top: -448px;
        }
        &__confident {
            padding-left: 0;
        }
    }
    .address-details {
        &__header {
            margin-bottom: 0;
        }
        &__list {
            margin-top: 29px;
        }
    }
}
