.intro {
    background-image: url("../images/header-font_desktop.png");
    background-color: #1b2d37;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: -120px;
    z-index: -1;
    overflow: hidden;
}

.intro__container {
    margin: 0 72px;
    padding-top: 281px;
    display: flex;
    align-items: center;
    position: relative;
}

.intro__wrapper {
    max-width: 1555px;
    margin: 0 auto;
    padding-bottom: 317px;
    position: relative;
}

.intro__picture {
    position: absolute;
    right: -45px;
    top: 283px;
    z-index: 0;
}

.intro__triangle-big {
    position: absolute;
    background-image: url("../images/header-triangles.png");
    background-repeat: no-repeat;
    background-size: 670px 641px;

    bottom: 0;
    left: -43px;
    width: 670px;
    height: 641px;
    z-index: -1;
}

.intro h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 73px;
    line-height: 94px;
    letter-spacing: 0.13em;
    text-align: left;
    font-style: normal;
    margin-bottom: 30px;

    @include font-roboto;
}

.intro__block {
    padding-left: 93px;
    position: relative;
    max-width: 680px;

    &::before {
        content: "";
        position: absolute;
        width: 66px;
        height: 2px;
        background-color: #ffffff;
        left: 0;
        top: 17px;
    }
}

.intro p {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    font-style: normal;
    letter-spacing: 0.07em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 53px;

    @include font-ptmono;
}

.intro__button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #ffffff;
    background-color: #00b2ff;
    text-decoration: none;
    padding: 17px 58px;
    border-radius: 5px;

    @include font-roboto;

    &:hover {
        opacity: 0.5;
    }
}

.intro__button-mobile {
    display: none;
}

.intro__scroll-down {
    position: absolute;
    left: -39px;
    top: 290px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    transform: rotate(-90deg);

    @include font-ptmono;
}

.intro__info {
    position: relative;
    z-index: 1;
}

.intro__advice {
    position: absolute;
    bottom: -24px;
    left: 100px;
}

.intro__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.8);
}

.intro__form-wrapper {
    width: 414px;
    margin: 0 auto;
    background-color: #00b2ff;
    padding: 33px 38px 36px 38px;
    display: flex;
    flex-direction: column;
}

// tablet----------------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .intro__wrapper {
        margin: 0 auto;
        padding-bottom: 161px;
        overflow: hidden;
    }

    .intro__container {
        max-width: 718px;
        margin: 0 auto;
        padding-top: 88px;
        padding-bottom: 25px;
    }

    .intro h1 {
        max-width: 1023px;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: 0.07em;
        text-align: left;

        margin-top: 139px;
    }

    .intro p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .intro__block {
        position: relative;
        padding-left: 47px;
        margin-bottom: 63px;

        &::before {
            width: 33px;
            left: 0;
            top: 17px;
        }
    }

    .intro__picture {
        position: absolute;
        right: -192px;
        top: 140px;
    }

    .intro__advice {
        position: absolute;
        bottom: 0;
        left: 134px;
        padding: 0;
        min-width: 389px;
    }

    .intro__info {
        padding-left: 68px;
        max-width: 393px;
    }

    .intro__scroll-down {
        display: none;
    }

    .intro__button-mobile {
        display: none;
    }

    .intro__button {
        min-width: 356px;
        padding: 17px 20px;
    }

    .intro__triangle-big {
        background-size: 395px 421px;
        top: -115px;
        left: -61px;
        width: 384px;
        height: 421px;
    }
}

// mobile ----------------------------------------------------------------------------
@media (max-width: $tablet-width) {
    .intro {
        margin-top: -200px;
        min-height: 647px;
    }

    .intro__wrapper {
        max-width: 767px;
        margin-top: 62px;
        padding-bottom: 47px;
        display: flex;
        flex-direction: column;
    }

    .intro__container {
        max-width: 749px;
        padding-left: 18px;
    }

    .intro h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0.07em;
        text-align: left;
        position: relative;
        z-index: 10;
        margin-top: 280px;
    }

    .intro__block {
        margin-bottom: 91px;

        &::before {
            top: 13px;
        }
    }

    .intro__info {
        padding-left: 0;

        @include max-width-767;
    }

    .intro p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 0;
    }

    .intro__picture {
        position: absolute;
        top: 169px;
        right: -8px;
    }

    .intro__triangle-big {
        background-size: 383px 366px;

        top: -88px;
        left: 176px;
        width: 460px;
        height: 366px;
        z-index: -1;
    }

    .intro__img {
        width: 301px;
        height: 220px;
        margin-top: 0;
    }

    .intro__advice {
        left: 0;
        min-width: 284px;
        padding: 0;
    }

    .intro__button {
        display: none;
    }

    .intro__button-mobile {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        color: #ffffff;
        background-color: #00b2ff;
        text-decoration: none;
        padding: 17px 0;
        border-radius: 5px;
        max-width: 284px;

        @include font-roboto;

        &:hover {
            background-color: #12445a;
            opacity: 0.8;
        }
    }
}
