.main-nav {
    margin-right: 0;
    z-index: 2;
}

.main-nav__list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    margin-top: 0;
    z-index: 1;
}

.main-nav__email {
    margin-right: 3rem;
    color: #ffffff;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    @include font-ptmono;

    & a {
        display: block;
        padding-right: 104px;
        position: absolute;
        right: 3px;
    }
}

.main-nav__tel {
    margin-right: 2rem;
    color: #ffffff;
    min-width: 160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    position: relative;

    @include font-ptmono;

    & a {
        display: block;
        padding-right: 169px;
        position: absolute;
        right: 3px;
    }
}

.main-nav__call {
    cursor: pointer;
    color: #ffffff;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 32px;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 700;
    text-align: center;

    @include font-roboto;

    &:hover {
        border: 1px solid #00b2ff;
        color: #00b2ff;
        opacity: 0.5;
    }
}

.main-nav__call-order {
    min-width: 170px;
}

@media (max-width: $desktop-width) {
    .main-nav {
        margin-right: 0;
    }

    .main-nav__list {
        display: flex;
        padding-top: 0;
    }

    .main-nav__email {
        margin-right: 3rem;

        &::before {
            width: 25px;
            height: 19px;
            background-repeat: no-repeat;
        }

        & a {
            right: 0;
            padding: 5px 5px;
        }
    }

    .main-nav__email-none {
        display: none;
    }

    .main-nav__tel {
        min-width: 0;
        margin-right: 0;

        &-none {
            display: none;
        }

        &::before {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
        }

        & a {
            padding: 5px 5px;
        }
    }

    .main-nav__call {
        display: none;
    }

    .main-nav__call-order {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .main-nav__tel {
        margin-right: 0;

        & a {
            padding: 5px 5px;
        }
    }

    .main-nav__email {
        margin-right: 3rem;

        & a {
            padding: 5px 5px;
        }
    }
}
