.page-header {
    max-width: 1555px;
    margin: 0 auto;
    z-index: 10;
}

.page-header__wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 72px;
    margin-left: 72px;
}

.page-header__logo {
    display: flex;
    flex-direction: row;
}

.page-header__logo-details {
    text-decoration: none;
}

// tablet----------------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .page-header__wrapper {
        max-width: 718px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .page-header {
        padding-top: 17px;
        padding-bottom: 0;
        max-width: 320px;
    }

    .page-header__wrapper {
        margin: 0 16px;
        padding-top: 0;
    }
}
