.page-header {
    background-color: #1b2d37;
    padding-bottom: 100px;
    padding-top: 33px;
    background-image: url("../images/header-font_desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__wrapper {
        max-width: 1495px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-direction: row;
    }
    &__logo-details {
        text-decoration: none;
    }
}

.main-nav {
    margin-right: 80px;
    &__list {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        align-items: center;
    }
    &__email {
        margin-right: 4rem;
        color: #ffffff;
        position: relative;

        @include nav-font-style;
    }
    &__tel {
        margin-right: 1rem;
        color: #ffffff;
        min-width: 160px;

        @include nav-font-style;
    }

    &__call {
        color: #ffffff;
        background: none;
        border: 1px solid #ffffff;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 14px 13px;
        font-size: 14px;
        line-height: 16.41px;
        font-weight: 700;
        text-align: center;
        font-family: "Roboto Condensed", "Arial", sans-serif;
    }
    &__call-order {
        min-width: 170px;
    }
}

.details {
    display: flex;
    &__block {
        margin-left: 16px;
    }
    &__name {
        color: #ffffff;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 29.3px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__tag {
        color: #e5e5e5;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.06px;
        margin-top: 0;
    }
}

.intro {
    max-width: 1495px;
    margin: 0 1rem;

    &__wrapper {
        display: flex;
        align-items: center;

        position: relative;
    }
    &__picture {
        position: relative;
        margin-top: 80px;
        z-index: 0;
        &::before {
            content: "";
            background-image: url("../images/triangle.svg");
            background-repeat: no-repeat;
            background-size: 238px 261px;
            position: absolute;
            bottom: -77px;
            left: -3px;
            width: 274px;
            height: 345px;
            z-index: -1;
        }
        &::after {
            content: "";
            background-image: url("../images/triangle.svg");
            background-repeat: no-repeat;
            background-size: 406px 444px;
            position: absolute;
            top: 70px;
            left: 45px;
            width: 406px;
            height: 444px;
            z-index: -1;
        }
    }
    &__header {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 700;
        font-size: 73px;
        line-height: 94px;
        letter-spacing: 0.05em;
        text-align: left;
        font-style: normal;
        transform-origin: 0 0;
        transform: scale(0.9, 1);
    }
    &__block {
        padding-left: 100px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 66px;
            height: 2px;
            background-color: #ffffff;
            left: 0;
            top: 17px;
        }
    }
    &__text {
        font-family: "PT Mono", monospace;
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        font-style: normal;
        letter-spacing: 0.07em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 53px;
    }

    &__button {
        text-transform: uppercase;
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        color: #ffffff;
        background-color: #00b2ff;
        text-decoration: none;
        padding: 17px 28px;
        border-radius: 5px;
    }
    &__button-mobile {
        display: none;
    }
    &__scroll-down {
        position: absolute;
        left: -35px;
        top: 261px;
        color: #ffffff;
        text-decoration: none;
        width: 90px;
        transform: rotate(-90deg);
    }

    &__advice {
        position: absolute;
        bottom: 50px;
        left: 100px;
    }
}

// tablet----------------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .page-header {
        background-color: #1b2d37;
        background-image: url("../images/header-font_tablet.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &__wrapper {
            margin: 0 25px;
            display: flex;
            justify-content: space-between;
        }
    }

    .main-nav {
        margin-right: 0;
        &__list {
            display: flex;
            justify-content: flex-end;
        }
        &__email {
            margin-right: 2rem;
            &-none {
                display: none;
            }
            &::before {
                width: 25px;
                height: 19px;
                background-repeat: no-repeat;
            }
        }
        &__tel {
            min-width: 0;
            &-none {
                display: none;
            }

            &::before {
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
            }
        }
        &__call {
            display: none;
        }
        &__call-order {
            display: none;
        }
    }
    .intro {
        margin: 0 auto;
        &__header {
            max-width: 720px;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: 0.07em;
            text-align: left;

            margin-top: 126px;
        }
        &__text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
        }
        &__block {
            padding-left: 47px;
            position: relative;
            &::before {
                width: 33px;
                left: 0;
                top: 17px;
            }
        }
        &__picture {
            margin-top: 20px;
            overflow: hidden;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
        &__advice {
            bottom: 0;
            left: 72px;
        }
        &__info {
            margin-left: 25px;
        }
        &__scroll-down {
            display: none;
        }
        &__button-mobile {
            display: none;
        }
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $mobile-width) {
    .page-header {
        padding-top: 17px;
        max-width: 320px;
        &__wrapper {
            margin: 0 16px;
        }
    }

    .details {
        &__block {
            display: none;
        }
        &__img {
            width: 38px;
            height: 38px;
        }
    }

    .main-nav {
        &__tel {
            margin-right: 0;
        }
        &__email {
            margin-right: 1.5rem;
        }
    }

    .intro {
        position: relative;
        &__header {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 47px;
            letter-spacing: 0.07em;
            text-align: left;
            position: relative;
            z-index: 10;
            margin-top: 202px;
        }
        &__info {
            margin-left: 18px;
        }
        &__text {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0em;
        }
        &__picture {
            position: absolute;
            overflow: visible;
            &::before {
                content: "";
                background-image: url("../images/triangle.svg");
                background-repeat: no-repeat;
                background-size: 281px 281px;
                position: absolute;
                bottom: -113px;
                left: 182px;
                width: 150px;
                height: 211px;
                z-index: -1;
                display: block;
            }
            &::after {
                content: "";
                background-image: url("../images/triangle.svg");
                background-repeat: no-repeat;
                background-size: 479px 479px;
                // background-position: center;
                position: absolute;
                top: 8px;
                left: 207px;
                width: 111px;
                height: 361px;
                z-index: -1;
                display: block;
            }
        }
        &__img {
            width: 301px;
            height: 220px;
            margin-top: 0;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__advice {
            position: static;

            width: 100%;
        }
        &__button {
            display: none;
        }
        &__button-mobile {
            display: block;
            text-transform: uppercase;
            font-family: "Roboto Condensed", "Arial", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 18.75px;
            text-align: center;
            color: #ffffff;
            background-color: #00b2ff;
            text-decoration: none;
            padding: 17px 11px;
            border-radius: 5px;
            margin: 0 16px;
        }
    }
}
