.pop-up {
    position: relative;

    & input,
    textarea {
        width: 398px;
        background-color: #58c2f0;
        color: #ffffff;
        border: none;

        &::placeholder {
            color: #ffffff;
        }
    }
}

.pop-up__header {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;

    @include font-roboto;
}

.pop-up__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;

    @include font-ptmono;
}

.pop-up__item {
    margin-bottom: 30px;
}

.pop-up label {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 49px;

    @include font-ptmono;
}

.pop-up a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    padding: 14px 0 12px 0;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    text-align: center;

    @include font-roboto;
}

.pop-up textarea {
    padding-top: 14px;
    padding-left: 14px;
    padding-bottom: 67px;
    resize: none;
    width: 400px;
}

.pop-up input {
    padding: 10px 10px;
}

.pop-up__check-mark {
    &:checked + label::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: url("../images/icon-tick.svg") no-repeat;
        background-position: center;
        background-size: 10px 10px;
        left: 5px;
        top: 5px;
    }

    & + label::after {
        content: "";
        position: absolute;
        border: 1px solid #ffffff;
        width: 18px;
        height: 18px;
        left: 0;
        top: 0;
    }
}

.pop-up__close-icon {
    width: 20px;
    height: 20px;
    background-color: #00b2ff;
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        background: url("../images/icon-close.svg") no-repeat;
        background-position: center;
        background-size: 17px 17px;
        right: 1px;
        top: 1px;
    }
}
