.question-form {
    background-color: #00b2ff;
    overflow: hidden;
}

.question-form__wrapper {
    max-width: 1314px;
    margin: 0 auto;
}

.question-form__container {
    padding-top: 92px;
    padding-bottom: 30px;
    display: flex;
    position: relative;

    @include margin-72-72;
}

.question-form__card h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    text-align: left;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 5px;

    @include font-roboto;
}

.question-form__card p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;

    @include font-ptmono;
}

.question-form__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 49px;
    width: 98%;

    @include font-ptmono;
}

.question-form__ask {
    flex-basis: 100%;
    margin-bottom: 30px;

    & textarea {
        width: 95%;
        height: 154px;
        font-size: 16px;
        color: #ffffff;
        resize: vertical;
        padding-left: 20px;
        padding-top: 20px;

        &::placeholder {
            padding-left: 0;
            border: none;
        }
    }
}

.question-form__item {
    & input[type="text"],
    input[type="tel"] {
        width: 260px;
        font-size: 16px;
        color: #ffffff;
        border: none;
        background-color: #58c2f0;
    }

    & label {
        display: none;
    }
}

.question-form__input {
    background-color: #58c2f0;
    height: 50px;

    &::placeholder {
        padding-left: 20px;
        color: #ffffff;
        font-size: 16px;

        @include font-ptmono;
    }
}

.question-form__agreements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    color: #ffffff;
    width: 100%;
}

.question-form__agreements button {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #00b2ff;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 12px 25px;
    width: 48%;

    @include font-roboto;

    &:hover {
        opacity: 0.5;
    }
}

.question-form__agreements p {
    padding-right: 50px;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.question-form__agreements label {
    position: relative;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.question-form__image {
    width: 100%;
    position: relative;
    z-index: 1;
    top: -87px;
    left: -28px;
}

.question-form__back-triangle {
    position: absolute;
    bottom: 25px;
    left: -157px;
    width: 670px;
    height: 641px;
    background-image: url("../images/triangles-ask-form.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 670px ​641px;
    z-index: -1;
}

.question-form__right-triangle {
    position: absolute;
    bottom: 0;
    left: 1024px;
    width: 509px;
    height: 669px;
    background-image: url("../images/triangles-right-ask-form.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 509px 669px;
}

.question-form__image img {
    width: 510px;
    padding-top: 50%;
    transform: translateY(-25%);
}

.question-form__check-mark {
    &:checked + label::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: url("../images/icon-tick.svg") no-repeat;
        background-position: center;
        background-size: 10px 10px;
        left: -27px;
        top: 11px;
    }

    & + label::after {
        content: "";
        position: absolute;
        border: 1px solid #ffffff;
        width: 18px;
        height: 18px;
        left: -33px;
        top: 6px;
    }
}

.question-form__client-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div {
        margin-bottom: 30px;
    }
}

input[type="checkbox"] {
    display: none;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .question-form__wrapper {
        max-width: 770px;
        margin: 0 auto;
        padding: 83px 63px 103px 63px;
    }

    .question-form__container {
        @include margin-0-0;
    }

    .question-form__image {
        display: none;
    }

    .question-form__card {
        max-width: 593px;
        margin: 0 auto;
    }

    .question-form__client-data {
        width: 98%;
    }

    .question-form__card h2 {
        font-size: 32px;
        padding-left: 3px;
    }

    .question-form__card p {
        padding-left: 5px;
    }

    .question-form__data {
        margin: 0 auto;
    }

    .question-form__agreements {
        & label {
            padding-right: 38px;
        }

        & a {
            padding: 14px 4px 12px 69px;
        }
    }

    .question-form__right-triangle {
        display: none;
    }
}

// mobile ----------------------------------------------------------------------------
@media (max-width: $tablet-width) {
    .question-form__wrapper {
        max-width: 320px;
        margin: 0 auto;
        padding: 38px 15px 46px 15px;
    }

    .question-form__card h2 {
        font-size: 28px;
        line-height: 40px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 11px;
    }

    .question-form__card p {
        margin-right: 15px;
        margin-left: 15px;
    }

    .question-form__data {
        padding-top: 27px;
    }

    .question-form__client-data {
        max-width: 290px;
        margin: 0 auto;
    }

    .question-form__ask {
        max-width: 290px;
        margin: 0 auto;

        & textarea {
            width: 92%;
        }
    }

    .question-form__input {
        width: 100%;
    }

    .question-form__item {
        width: 100%;

        & input[type="text"],
        input[type="tel"] {
            width: 98%;
            font-size: 16px;
        }
    }

    .question-form__agreements {
        max-width: 290px;
        margin: 0 auto;
    }

    .question-form__agreements button {
        width: 100%;
        padding: 11px 5px;
        margin-top: 30px;
    }

    .question-form__agreements a {
        display: block;
        width: 100%;
    }

    .question-form__agreements label {
        padding-left: 37px;
        padding-top: 35px;
        padding-right: 5px;
    }

    .question-form__check-mark {
        &:checked + label::before {
            left: 8px;
            top: 40px;
        }

        & + label::after {
            content: "";
            position: absolute;
            border: 1px solid #ffffff;
            width: 18px;
            height: 18px;
            left: 2px;
            top: 36px;
        }
    }
}
