.services {
    background-color: #1b2d37;
}

.services__wrapper {
    max-width: 1314px;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 127px;
}

.services__container {
    @include margin-72-72;
}

.services__container h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 49px;

    @include font-roboto;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
}

.services__list a {
    width: 31%;

    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    position: relative;

    @include font-roboto;

    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        width: 100%;
        height: 622px;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: #00b2ff;
        background-image: url("../images/services-arrow.svg");
        background-size: 8px 8px;
        background-repeat: no-repeat;
        background-position: center;
        width: 63px;
        height: 63px;
        right: 0;
        bottom: 0;
    }
}

.services__item {
    height: 568px;
    padding-top: 53px;
    padding-left: 44px;
    position: relative;

    &:hover {
        outline: 1px solid #00b2ff;
    }
}

.services__item p {
    margin-top: 0;
    margin-bottom: 0;
}

.services__production-link {
    &::before {
        background-image: url("../images/product1_desktop.png");
    }
}

.services__installation-link {
    &::before {
        background-image: url("../images/product2_desktop.png");
    }
}

.services__accessories-link {
    &::before {
        background-image: url("../images/product3_desktop.png");
    }
}

.services__accessories {
    margin-right: 0;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .services__wrapper {
        max-width: 767px;
    }

    .services__container {
        max-width: 715px;
        margin: 0 auto;
    }

    .services__container h2 {
        font-size: 32px;
        margin-left: 0;
        margin-right: 25px;
    }

    .services__list {
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .services__list a {
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            width: 100%;
            height: 256px;
        }

        &::after {
            right: 0;
            bottom: 0;
        }
    }

    .services__item {
        width: 671px;
        height: 210px;

        padding-top: 46px;
        padding-left: 44px;
    }

    .services__production-link {
        &::before {
            background-image: url("../images/product1_tablet.png");
        }
    }

    .services__installation-link {
        &::before {
            background-image: url("../images/product2_tablet.png");
        }
    }

    .services__accessories-link {
        &::before {
            background-image: url("../images/product3_tablet.png");
        }
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .services__wrapper {
        max-width: 767px;
        margin: 0 auto;
        padding-top: 43px;
        padding-bottom: 64px;
    }

    .services__container {
        max-width: 95%;
        margin: 0 auto;
    }

    .services__container h2 {
        font-size: 28px;
        margin-top: 0;
        line-height: 43px;
        margin-bottom: 37px;
        margin-left: 0;
    }

    .services__list {
        column-gap: 30px;
        row-gap: 30px;
        margin-left: 0;
    }

    .services__list a {
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            width: 100%;
            height: 256px;
        }
    }

    .services__item {
        max-width: 255px;
        height: 233px;
        padding-top: 23px;
        padding-left: 35px;
    }

    .services__item__production-link {
        &::before {
            background-image: url("../images/product1_mobile.png");
        }
    }

    .services__item__installation-link {
        &::before {
            background-image: url("../images/product2_mobile.png");
        }
    }

    .services__item__accessories-link {
        &::before {
            background-image: url("../images/product3_mobile.png");
        }
    }
}
