.social-info__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: flex-start;
    margin-top: 49px;
}

.social-info__link {
    text-decoration: none;
    padding-right: 1rem;
}

.social-info__fb {
    width: 27px;
    height: 27px;
}

.social-info__ok {
    width: 27px;
    height: 26px;
}

.social-info__inst {
    width: 27px;
    height: 26px;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .social-info__list {
        margin-top: 0;
    }
}
