@mixin font-ptmono {
    font-family: "PT Mono", "Droid Sans Mono", monospace;
}

@mixin font-roboto {
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin margin-top-38 {
    margin-top: 38px;
}

@mixin margin-30-30 {
    margin-right: 30px;
    margin-left: 30px;
}

@mixin margin-72-72 {
    margin-right: 72px;
    margin-left: 72px;
}

@mixin margin-0-0 {
    margin-right: 0;
    margin-left: 0;
}

@mixin max-width-767 {
    max-width: 767px;
}
