@mixin font-ptmono {
    font-family: "PT Mono", "Droid Sans Mono", monospace;
}

@mixin font-roboto {
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin margin-top-38 {
    margin-top: 38px;
}

@mixin margin-30-30 {
    margin-right: 30px;
    margin-left: 30px;
}
